.custom-button {
  background-color: #e6ebf5;
  border-radius: 39px;
  border: 6px solid #eb7530;
  display: inline-block;
  cursor: pointer;
  color: #eb7530;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #eb7530;
}
.custom-button:hover {
  background-color: #28243d;
  color: #eb7530;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: solid black 1px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
p {
  color: #28243d;
}
.topshelf {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.topshelf,
img {
  width: 48%;
}
nav {
  display: flex;
  flex-direction: row;
  padding-top: 4%;
  text-align: right;
}
a {
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width 500px) {
  .topshelf {
    display: flex;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
  }
  a {
    width: 10%;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: red;
  }
}
footer {
  margin: auto;
}
footer p {
  display: flex;
  justify-content: flex-start;
  background-color: #28243d;
}
footer nav {
  display: flex;
  flex-direction: row;
  padding-top: 4%;
  text-align: right;
  background-color: #28243d;
}
footer a {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #28243d;
  color: #eb7530;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: solid black 1px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #E6EBF5;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.topshelf {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.topshelf img.truck-logo {
  display: inline-flex;
  width: 25%;
}
.topshelf nav {
  display: inline-flex;
  width: 75%;
  justify-content: flex-end;
  background-color: #28243D;
  font-size: 25px;
}
.topshelf a {
  height: 2vh;
  width: 10%;
  background-color: #28243D;
  padding-left: 7%;
  padding-right: 7%;
  color: #EF903C;
  text-align: top;
}
img.orangeft {
  display: flex;
  flex-direction: row-reverse;
  justify-self: flex-end;
  max-width: 100%;
}
section.Conatainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
section.Conatainer h2 {
  font-size: 3rem;
  padding: 5%;
  /* padding-top: 10%; */
}
section.Conatainer p {
  font-size: 1.25rem;
  padding: 5%;
}
section.Conatainer i {
  padding: 3%;
  color: #EF903C;
}
section.Conatainer .discover {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
section.Conatainer .profile {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
section.Conatainer .tracking {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
section.imgBlockOne {
  display: flex;
  align-items: center;
}
section.imgBlockOne .blockone {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  font-size: 2rem;
}
section.imgBlockOne .blockone h1 {
  font-size: 5rem;
  margin-top: 35%;
  width: 100%;
}
section.imgBlockOne .blockone p {
  margin-top: 10%;
}
section.imgBlockOne .blockone .btn {
  margin-top: 15%;
}
section.imgBlockOne .islandft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.blocktwo {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  font-size: 2rem;
}
.blocktwo h1 {
  font-size: 5rem;
  padding: 5%;
}
.blocktwo .blueft {
  display: flex;
  align-items: center;
  width: 80%;
}
.imgBlockTwo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 5%;
}
.myButton {
  background-color: #e6ebf5;
  border-radius: 39px;
  border: 6px solid #eb7530;
  display: inline-block;
  cursor: pointer;
  color: #eb7530;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #eb7530;
}
.myButton:hover {
  background-color: #28243d;
  color: #eb7530;
}
.ourteam {
  background-color: blue;
}
@media screen and (max-width: 500px) {
  .topshelf {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    justify-self: center;
    width: 100%;
  }
  .truck-logo {
    display: block;
    width: 25%;
  }
  .orangeft {
    width: 100%;
  }
  a {
    font-size: medium;
    width: 10%;
  }
  section.Conatainer {
    display: flex;
    flex-direction: column;
  }
  .imgBlockOne {
    display: flex;
    flex-direction: column-reverse;
  }
  .imgBlockTwo {
    display: flex;
    flex-direction: column-reverse;
  }
}
