.custom-button {
  background-color: #2e33cc;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #e6ebf5;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  text-decoration: none;
  font-family: 'Monsterrat', sans-serif;
}
.custom-button:hover {
  background-color: white;
  color: #2e33cc;
  border: 6px solid #eb7530;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.topshelf {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.topshelf,
img {
  width: 48%;
}
nav {
  display: flex;
  flex-direction: row;
  padding-top: 4%;
  text-align: right;
}
a {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 25px;
}
@media screen and (max-width 500px) {
  .topshelf {
    display: flex;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
  }
  a {
    width: 10%;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: red;
  }
}
footer {
  margin: auto;
}
footer p {
  display: flex;
  justify-content: flex-start;
  background-color: #28243d;
}
footer nav {
  display: flex;
  flex-direction: row;
  padding-top: 4%;
  text-align: right;
  background-color: #28243d;
}
footer a {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #28243d;
  color: #eb7530;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: white;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.topshelf {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.topshelf img.truck-logo {
  display: inline-flex;
  width: 25%;
}
.topshelf nav {
  display: inline-flex;
  width: 75%;
  justify-content: flex-end;
  background-color: white;
  font-size: 25px;
  font-family: 'Acme', sans-serif;
}
.topshelf a {
  height: 2vh;
  width: 10%;
  background-color: white;
  padding-left: 7%;
  padding-right: 7%;
  color: #EF903C;
<<<<<<< HEAD
  text-align: top;
  padding-top: 3%;
}
.orangeftC {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
=======
  text-align: center;
  margin-top: 30px;
>>>>>>> 115b9513b5e13cdff712140d78e0f77a358bc839
}
.orangeftC .orangeft {
  display: flex;
  align-items: center;
  padding-left: %;
  filter: drop-shadow(10px 10px 10px gray);
}
.orangeftC h1 {
  padding-left: 5%;
  padding-right: 5%;
  align-self: center;
  font-size: 5rem;
  margin-top: 5%;
  width: 48%;
  font-family: 'Acme', sans-serif;
  font-size: 4rem;
}
section.Conatainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
section.Conatainer h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  padding: 5%;
  font-family: 'Acme', sans-serif;
  /* padding-top: 10%; */
}
section.Conatainer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  padding: 5%;
}
section.Conatainer i {
  padding: 3%;
  color: #EF903C;
}
section.Conatainer .discover {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  text-align: center;
}
section.Conatainer .profile {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  text-align: center;
}
section.Conatainer .tracking {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  text-align: center;
}
.imgBlockOne {
  display: flex;
  align-items: center;
  padding-left: 10%;
  width: 80%;
}
.imgBlockOne .blockone {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  font-size: 2rem;
}
.imgBlockOne .blockone h1 {
  font-size: 5rem;
  margin-top: 5%;
  width: 100%;
  font-family: 'Acme', sans-serif;
}
.imgBlockOne .blockone p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
}
.imgBlockOne .islandft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-left: 1%;
  margin-right: 1%;
  filter: drop-shadow(10px 10px 10px gray);
}
.blocktwo {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  padding-left: 5%;
}
.blocktwo h1 {
  font-size: 5rem;
  padding: %;
  font-family: 'Acme', sans-serif;
}
.blocktwo p {
  font-family: 'Montserrat', sans-serif;
  margin-top: %;
}
.blocktwo .blueft {
  filter: drop-shadow(10px 10px 10px gray);
  display: flex;
  align-items: center;
  width: 80%;
  padding-right: 10%;
}
.imgBlockTwo {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 10%;
}
.myButton {
  margin-top: 5%;
  background-color: #2e33cc;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #e6ebf5;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  text-decoration: none;
  font-family: 'Monsterrat', sans-serif;
}
.myButton:hover {
  background-color: white;
  color: #2e33cc;
  border: 6px solid #eb7530;
}
.ourteam {
  background-color: #28243d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourteam .teamcontainer {
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #28243D;
  align-content: center;
  margin-left: 6%;
}
.ourteam h1 {
  background-color: #28243d;
  color: #eb7530;
  font-size: 6rem;
  padding: 10%;
  font-family: 'Acme', sans-serif;
}
.ourteam h2 {
  font-size: 4rem;
  padding: 10%;
  font-family: 'Acme', sans-serif;
}
.ourteam p {
  font-size: 1.5rem;
  padding: 10%;
  font-family: 'Montserrat', sans-serif;
}
.ourteam a {
  font-size: 1.5rem;
  padding: 10%;
  font-family: 'Monsterrat', sans-serif;
}
.ourteam .CC,
.ourteam .christian,
.ourteam .matthew,
.ourteam .george,
.ourteam .shun,
.ourteam .jevon,
.ourteam .kerby,
.ourteam .nick,
.ourteam .michael,
.ourteam .signupcontainer {
  padding-top: 5%;
  border: outset #eb7530 25px;
  max-width: 100%;
  width: 45%;
}
.ourteam .selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media screen and (max-width: 500px) {
  .topshelf {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    justify-self: center;
    width: 100%;
  }
  .truck-logo {
    display: block;
    width: 25%;
  }
  .orangeft {
    padding: 0;
    width: 100%;
  }
  a {
    font-size: medium;
    width: 10%;
  }
  section.Conatainer {
    display: flex;
    flex-direction: column;
  }
  .imgBlockOne {
    display: flex;
    flex-direction: column-reverse;
    width: 80;
  }
  .imgBlockTwo {
    display: flex;
    flex-direction: column-reverse;
  }
  .reviewcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    max-width: 95%;
  }
}
.titlee {
  display: flex;
  flex-direction: column;
}
.titlee h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #eb7530;
  padding: 5%;
  font-family: 'Acme', sans-serif;
  background-color: #28243d;
}
.titlee .purpleft {
  width: 100%;
  height: 750px;
  object-fit: cover;
}
.reviewcont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewcont h2 {
  text-align: center;
  display: flex;
  font-size: 3rem;
  padding: 5%;
  font-family: 'Acme', sans-serif;
  /* padding-top: 10%; */
}
.reviewcont p {
  font-family: 'Monsterrat', sans-serif;
  font-size: 1.25rem;
  padding: 5%;
}
.reviewcont i {
  font-size: 3rem;
  padding: 3%;
  color: #EF903C;
}
.reviewcont .tt {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
.reviewcont .yr {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
.reviewcont .yf {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
.reviewcont .myButton {
  margin-top: 15%;
  background-color: #2e33cc;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #e6ebf5;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  text-decoration: none;
  font-family: 'Monsterrat', sans-serif;
}
.reviewcont .myButton:hover {
  background-color: white;
  color: #2e33cc;
  border: 6px solid #eb7530;
}
