/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin             : 0;
    padding            : 0;
    // border          : solid black 1px;
    font-size          : 100%;
    font               : inherit;
    vertical-align     : baseline;
    background-color   : white;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

.topshelf {
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
    width          : 100%;


    img.truck-logo {
        display: inline-flex;
        width  : 25%;
    }

    nav {
        display            : inline-flex;
        width              : 75%;
        justify-content    : flex-end;
        background-color   : white;
        font-size          : 25px;
        font-family        : 'Acme', sans-serif;
        // padding-left    : 25%;
    }

    a {
        height          : 2vh;
        width           : 10%;
        background-color: white;
        padding-left    : 7%;
        padding-right   : 7%;
        color           : #EF903C;
        text-align      : top;
        // font-size    : large;
        padding-top     : 3%;
    }

}

.orangeftC {
    display       : flex;
    flex-direction: row;
    padding-top   : 5%;

    .orangeft {
        display     : flex;
        align-items : center;
        padding-left: %;
        filter      : drop-shadow(10px 10px 10px gray);
    }

    h1 {
        padding-left : 5%;
        padding-right: 5%;
        align-self   : center;
        font-size    : 5rem;
        margin-top   : 5%;
        width        : 48%;
        font-family  : 'Acme', sans-serif;
        font-size    : 4rem;
    }

}



section.Conatainer {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;
    width          : 80%;
    margin-left    : 10%;
    margin-right   : 10%;
    filter                 : drop-shadow(10px 10px 10px gray);
    margin-top: 10%;
    margin-bottom: 10%;
    

    h2 {
        font-family   : 'Montserrat', sans-serif;
        font-size     : 2rem;
        padding       : 5%;
        font-family   : 'Acme', sans-serif;
        /* padding-top: 10%; */
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size  : 1rem;
        padding    : 5%;
    }

    i {
        padding: 3%;
        color  : #EF903C;
    }


    .discover {
        display       : flex;
        flex-direction: column;
        padding       : 5%;
        align-items   : center;
        text-align    : left;
        
    }

    .profile {
        display       : flex;
        flex-direction: column;
        padding       : 5%;
        align-items   : center;
        text-align    : left;
    }

    .tracking {
        display       : flex;
        flex-direction: column;
        padding       : 5%;
        align-items   : center;
        text-align    : left;
    }
}

.imgBlockOne {
    display            : flex;
    align-items        : center;
    padding-left       : 10%;
    width              : 80%;
    // height          : 45vh;
    // background-color: @darkest-indigo;


    .blockone {
        display       : flex;
        flex-direction: column;
        width         : 80%;
        text-align    : center;
        align-items   : center;
        font-size     : 2rem;

        h1 {
            font-size  : 5rem;
            margin-top : 5%;
            width      : 100%;
            font-family: 'Acme', sans-serif;
        }

        p {
            font-family: 'Montserrat', sans-serif;
            margin-top : 10%;
        }


    }

    .islandft {
        display                : flex;
        flex-direction         : row;
        align-items            : center;
        width                  : 80%;
        // margin              : 0 auto;
        margin-left            : 1%;
        margin-right           : 1%;
        filter                 : drop-shadow(10px 10px 10px gray);
        //     
        //  height          : 95vh;
        // background-color : @darkest-indigo;
    }
}

.imgBlockTwo {
    width         : 80%;
    display       : flex;
    flex-direction: row-reverse;
    align-items   : center;
    padding-bottom: 5%;
    padding-top   : 5%;
    padding-left  : 10%;

}
.blocktwo {
    display       : flex;
    flex-direction: column;
    width         : 80%;
    text-align    : center;
    align-items   : center;
    font-size     : 2rem;
    // padding-top: 10%;
    padding-left  : 5%;

    h1 {
        font-size  : 5rem;
        padding    : %;
        font-family: 'Acme', sans-serif;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        margin-top : %;
    }



    .blueft {
        
        display                : flex;
        flex-direction         : row;
        align-items            : center;
        width                  : 80%;
        // margin              : 0 auto;
        margin-left            : 1%;
        margin-right           : 1%;
        filter                 : drop-shadow(10px 10px 10px gray);


        // background-color: @darkest-indigo;

    }

}



.myButton {
    margin-top: 5%;

    .custom-button ();

}

// css for about page

.ourteam {
    background-color: @darkest-indigo;
    display         : flex;
    flex-direction  : column;
    align-items     : center;

    .teamcontainer {
        margin          : 2%;
        display         : flex;
        flex-direction  : row;
        flex-wrap       : wrap;
        background-color: #28243D;
        align-content   : center;
        margin-left     : 6%;
    }

    h1 {
        background-color: @darkest-indigo;
        color           : @darkest-orange;
        font-size       : 6rem;
        padding         : 10%;
        font-family     : 'Acme', sans-serif;
    }

    h2 {
        font-size  : 4rem;
        padding    : 10%;
        font-family: 'Acme', sans-serif;

    }

    p {
        font-size  : 1.5rem;
        padding    : 10%;
        font-family: 'Montserrat', sans-serif;
    }

    a {
        font-size     : 1.5rem;
        padding       : 10%;
        font-family   : 'Monsterrat', sans-serif;
        padding-bottom: 3%;
    }


    .CC,
    .christian,
    .matthew,
    .george,
    .shun,
    .jevon,
    .kerby,
    .nick,
    .michael,
    .signupcontainer {
        padding-top: 5%;
        border     : outset @darkest-orange 25px;
        max-width  : 100%;

    }

     width:100%;

}

.selfie {
    display     : block;
    margin-left : auto;
    margin-right: auto;
    width       : 50%;
}


@media screen and (max-width: 500px) {
    body {}

    .topshelf {
        display        : flex;
        align-content  : center;
        justify-content: space-evenly;
        justify-self   : center;
        width          : 100%;
    }
    .orangeftC {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .truck-logo {
        display: block;
        width  : 25%;

    }

    .orangeft {
        padding: 0;
        width  : 100%;
    }
    .T {
        text-align: left;
        width: 100%;
        font-size: 2rem;
    }
    a {
        font-size: medium;
        width    : 10%;
    }

    section.Conatainer {
        display       : flex;
        flex-direction: column;


    }

    .imgBlockOne {
        display       : flex;
        flex-direction: column-reverse;
        width         : 80;

    }

    .imgBlockTwo {
        display       : flex;
        flex-direction: column-reverse;

    }

    .reviewcont {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
    }

    footer {
        max-width: 95%;
    }
}

//css for review-page
.titlee {
    display       : flex;
    flex-direction: column;

    h1 {
        text-align      : center;
        font-size       : 3.5rem;
        color           : @darkest-orange;
        padding         : 5%;
        font-family     : 'Acme', sans-serif;
        background-color: @darkest-indigo;
    }

    .purpleft {

        width     : 100%;
        height    : 750px;
        object-fit: cover;

    }
}

.reviewcont {
    display        : flex;
    justify-content: center;
    align-items    : center;



    h2 {
        text-align    : center;
        display       : flex;
        font-size     : 3rem;
        padding       : 5%;
        font-family   : 'Acme', sans-serif;
        /* padding-top: 10%; */
    }

    p {
        font-family: 'Monsterrat', sans-serif;
        font-size  : 1.25rem;
        padding    : 5%;
    }

    i {
        font-size: 3rem;
        padding  : 3%;
        color    : #EF903C;
    }

    .tt {
        display       : flex;
        flex-direction: column;
        padding       : 5%;
        align-items   : center;
    }

    .yr {
        display       : flex;
        flex-direction: column;
        padding       : 5%;
        align-items   : center;
    }

    .yf {
        display       : flex;
        flex-direction: column;
        padding       : 5%;
        align-items   : center;
    }

    .myButton {
        margin-top: 15%;

        .custom-button ();

    }

}