.topshelf {
    display: flex;
    flex-direction: row;
    
    width: 100%;
}
.topshelf, img {
    width: 48%;
}
nav {
    display: flex;
    flex-direction: row;
    padding-top:4%;
    text-align: right;
}
a {
    padding-left: 10%;
    padding-right: 10%;
}
@media screen and(max-width 500px){
    .topshelf{
        display:flex;
        align-content: center;
        justify-content:space-between;
        justify-self: center;
        width: 100%;
    }
    a{
        width:10%;
    }
    body{
        display:flex;
        flex-direction: column;
        justify-self:center;
        background-color: red;
    }
}
